@layer tailwind {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

#root {
  display: flex;
  flex: 1 1 auto;
}

.drag-region {
  -webkit-app-region: drag;
}
